.documentItem {
    width: 40%;
    background-color: var(--bg-primary-color);
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.documentItem:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.documentTitle {
    margin-top: 10px;
    font-size: 1.4em;
}

.documentDate {
    font-size: 1em;
}

.documentDate > span {
    margin-left: 10px;
}
.documentDate > i {
    color: var(--secondary-color);
}

.documentLink {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

.documentLink > a {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    padding: 2px 10px;
    transition: all 0.2s ease-in-out;
}

.documentLink > a:hover {
    color: var(--bg-primary-color);
    background-color: var(--secondary-color);
}

@media (max-width: 900px) {
    .documentItem {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .documentItem {
        width: 90%;
    }
}
