.documentFilter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-content: space-between;
    align-items: center;
}

.links > select {
    height: 100%;
    border: 1px solid #3d7fba;
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
    background-color: white;
    color: rgb(73, 73, 73);
    margin: 2px;
}

.links > select:hover {
    background-color: #e9eef6;
}

/* .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .links select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.links::before {
    content: '\f13a';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.links:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}*/

.links > select > option {
    padding: 5px 10px;
}

input[type='text'] {
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #3d7fba;
    outline: none;
    color: rgb(73, 73, 73);
    margin: 2px;
}

.btn {
    color: #3d7fba;
    border: 1px solid #3d7fba;
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: #3d7fba;
}
